@import '_reset.scss';
@import '_mixins.scss';
@import '_animations.scss';

#search-form  {
    padding:0 1rem;
    width: 100%;
    max-width: 500px;
    @include flex(row, nowrap);
    #input {
        padding:1rem 2rem;
        width: 100%;
        font-size: 2rem;
       
    }
    #submit {
        padding: 1rem;
        background-color: $blue-color;
        color:white;
        border:none;
    }
}

main {
    margin-top: 4rem;
    height: 100%;
}

.title {
    color:$blue-color;
}

.section {
    background-color: $white-color;
    margin:1rem 1rem;
    padding:1rem;

}

#search-title-wrapper {
    @include flex(row, nowrap);
    justify-content: center;
}

#search-title {
    font-size: 6rem;
    text-align: center;
    text-decoration: none;
    
}

#static-section {

    article * {
        margin-bottom: 0.7rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    #word {
        color:$blue-color;
        font-size: 3.5rem;
        font-weight:Bold 700;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    span {
        font-size: 1.8rem;
        &::after{
            content: "/";
        }

        &:last-of-type::after {
            content: "";
        }
    }
}

#definition-section {
    #definition-title {
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }

    article {
        margin-left: 2rem;
    }

    .definition {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color:$definition-color;

    }
}



#start-wrapper {
    height: 100%;
    #start-title  {
        color:$blue-color;
        text-align: center;
        font-size: 6rem;
        margin: 35% 0 4rem 0;
    }
}

#loading-wrapper {
    @include flex(row, nowrap);
    justify-content: center;
    align-items: center;
    height:80vh;

    #loading-icon {
        font-size: 5rem;
        animation-name: loading-spinner;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}



