@import '_reset.scss';
@import '_mixins.scss';

#search-form  {
    width: 100%;
    max-width: 500px;
    @include flex(row, nowrap);
    #input {
        padding:1rem 2rem;
        width: 100%;
        font-size: 2rem;
       
    }
    #submit {
        padding: 1rem;
        background-color: $blue-color;
        color:white;
        border:none;
    }
}

main {
    margin-top: 4rem;
    height: 100%;
}

.section {
    background-color: $white-color;
    margin:1rem 1rem;
    padding:1rem;
}

#static-section {

    article * {
        margin-bottom: 0.7rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    #word {
        color:$blue-color;
        font-size: 3.5rem;
        font-weight:Bold 700;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.8rem;
    }
    span {
        font-size: 1.8rem;
        &::after{
            content: "/";
        }

        &:last-of-type::after {
            content: "";
        }
    }
}

#definition-section {
    #definition-title {
        font-size: 2.3rem;
        margin-bottom: 1.5rem;
    }

    article {
        margin-left: 2rem;
    }

    .definition {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        color:$definition-color;

    }
}



