@import url("https://fonts.googleapis.com/css2?family=Inter&family=Quicksand&family=Roboto+Mono&display=swap");
*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

#root {
  top: 0;
  height: 100%;
  padding-bottom: 2rem;
}

body {
  height: 100%;
  display: fixed;
  z-index: 2;
  background-color: rgb(224, 224, 224);
}

.App {
  width: 100%;
  height: 100%;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 720px) {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .section-wrapper .section {
    width: 700px;
  }
}
#start-wrapper #start-title {
  color: rgb(0, 106, 255);
  text-align: center;
  font-size: 6rem;
  padding-top: 12%;
}
#start-wrapper h2 {
  margin-top: 1em;
  letter-spacing: 1.5px;
  text-align: center;
}
#start-wrapper #search-form-wrapper {
  padding-top: 2.5%;
}

#search-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#search-form {
  padding: 0 1rem;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#search-form #input {
  padding: 1rem 2rem;
  width: 100%;
  font-size: 2rem;
  border: none;
}
#search-form #input:focus {
  outline: none;
}
#search-form #submit {
  cursor: pointer;
  padding: 0 1.5rem;
  background-color: rgb(0, 106, 255);
  color: white;
  border: none;
}

main {
  margin-top: 4rem;
  height: 100%;
}

.title {
  color: rgb(0, 106, 255);
}

#search-title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#search-title {
  font-size: 6rem;
  text-align: center;
  text-decoration: none;
}

#section-wrapper {
  display: block;
}

.section {
  background-color: white;
  margin: 1rem 1rem;
  padding: 1rem;
  max-width: 700px;
}

#static-section article * {
  margin-bottom: 0.7rem;
}
#static-section article *:last-child {
  margin-bottom: 0;
}
#static-section #word {
  color: rgb(0, 106, 255);
  font-size: 3.5rem;
  font-weight: Bold 700;
  margin-bottom: 2rem;
}
#static-section h3 {
  font-size: 1.8rem;
}
#static-section span {
  font-size: 1.8rem;
}
#static-section span::after {
  content: "/";
}
#static-section span:last-of-type::after {
  content: "";
}

.definition-section .definition-title {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}
.definition-section article {
  margin-left: 2rem;
}
.definition-section .definition {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: rgb(85, 85, 85);
}

#loading-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#loading-wrapper #loading-icon {
  font-size: 5rem;
  animation-name: loading-spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#error-wrapper {
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */